<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"
       default-lazy-init="true">

    <!--XMemcached客户端定义-->
    <bean id="memcachedClient" class="com.showcase.restful.memcached.MemcachedClient">
        <property name="memcachedNodes" value="${api.memcached.url}"/>
        <property name="connectionPoolSize" value="${api.memcached.connectionPoolSize}"/>
    </bean>

    <!--定义memcached使用的代理类-->
    <bean id="memcachedProxy" class="com.showcase.restful.memcached.BaseMemcachedCachedProxy">
        <property name="memcachedClient" ref="memcachedClient"/>
    </bean>

    <!--初始化 加载数据信息 -->
    <bean id="appInfoPlatLoader" class="com.showcase.restful.load.MemCacheInfoLoad" init-method="init"/>

</beans>
